.menu {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Playfair Display', serif;
  .form-group {
    h2 {
      text-align: center;
    }
    position: fixed;
    width: 25%;
    background-color: #eeeeee;
    ul {
      li {
        list-style-type: none;
        font-size: larger;
        margin: 10% 0;
        border-bottom: 1px solid #2a2929;
        border-radius: 8px;
        &:hover {
          background-color: rgb(180, 180, 180);
          cursor: pointer;
        }
      }
    }
  }
  .products {
    h3 {
      text-align: center;
    }
    width: 70%;
    margin-left: 35%;
  }
}
