#navbar {
  #logo {
    #image {
      width: 40px;
      height: 50px;
    }
  }
  .navlink {
    font-size: larger;
    font-weight: bold;
  }
  #nav {
    .image {
      width: 40px;
      height: 40px;
    }
  }
}
